body {
    background-color: rgb(30, 30, 30);
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
width: 50%;
background: rgba(50, 50, 50, 0);
}
::-webkit-scrollbar-thumb {
background: rgb(220, 220, 220);
border-radius: 250%;
}
::-webkit-scrollbar-thumb:hover {
background-color: rgb(165, 165, 165);
}
::-webkit-scrollbar-thumb:active {
background-color: rgb(110, 110, 110);
}

.title {
    text-align: center;
    font-size: 380%;
    color: #f8f8f8;
}
.para {
    text-align: center;
    font-size: 170%;
    color: #bebebe;
}

.images {
    text-align: center;
    filter: drop-shadow(6px 6px 10px);
}

.content {
    border-radius: 4%;
}

a {
    color:rgb(0, 128, 145);
    text-decoration: None;
}

a:hover {
    color:rgb(0, 212, 240)
}